@model IEnumerable<Spottinglog.Models.SightingList>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Dashboard 2</title>


</head>
<body class="hold-transition dark-mode sidebar-mini layout-fixed layout-navbar-fixed layout-footer-fixed">

 


    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Spotters</h3>

                    @*<div class="card-tools">

                        
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>*@
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap" id="PotterList">
                        <thead>
                            <tr>
                                <th hidden>Sightingid</th>
                                <th>Registration</th>
                                <th>Airline</th>
                                <th>Aircraft Make</th>
                                <th>Model</th>
                                <th>Airport</th>
                                <th>Date Seen</th>

                                <th>Spotter</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td hidden>
                                        @Html.DisplayFor(modelItem => item.Sightingid)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Registration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Airline)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.AircraftType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MSN)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Airport)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateofTrip)
                                    </td>

                                  

                                    <td>


                                        @Html.DisplayFor(modelItem => item.FullName)

                                    </td>
                                </tr>
                            }


                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    <!-- PAGE PLUGINS -->
    <!-- jQuery Mapael -->
   
</body>
</html>

